.messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
  
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  .Messages-message.currentUser {
    flex-direction: row-reverse;
    text-align: right;
  }
  
  .Message-content {
    display: inline-block;
  }
  
  .currentUser>.Message-content {
    align-items: flex-end;
  }
  
  .Messages-message>.avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
  }
  
  .Message-content>.username {
    display: block;
    color: black;
    font-size: 20px;
    padding-bottom: 4px;
  }
  
  .Message-content>.text {
    display: inline-block;
    padding: 20px;
    max-width: 400px;
    margin: 0;
    border-radius: 15px 50px 30px;
    background-color: rgb(222, 236, 243);
    color: black;
  }
  
  .currentUser>.Message-content .text {
    background-color: rgb(223, 255, 143);
  }